@use "variables";
@use "config";

// IMPORTS ----------------------------------------------*

body {
  font-family: variables.$MontserratFont;
  color: variables.$black;
  font-size: variables.$Font-size-base;
  background-color: variables.$creamy;
  background: linear-gradient(#f5eee5e6, #f1c39ae6),
    url("/img/page-texture.avif");
  background-size: cover;
}

// Font sizes & Styles------------------>
a {
  color: variables.$black;
}
h1 {
  font-size: variables.$Font-size-xl;
}
h2 {
  font-size: variables.$Font-size-lg;
}
h3 {
  font-size: variables.$Font-size-mid;
}

input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
select,
textarea {
  font-family: variables.$MontserratFont;
  font-size: variables.$Font-size-base;
  @include config.resets;
}

.keyboard {
  @include config.Text-animation-crixfer;
}

// Buttons -------------------->

.mag-glass {
  //magnifying glass
  width: 15px;
  margin-left: 5px;
}

.btn {
  background-color: variables.$black;
  border: none;
  color: variables.$white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: variables.$red;
}

// Image -------------------->
img {
  @include config.responsive-img;
}

.container {
  @include config.compact-design;
}

.main {
  padding: 20px 0;
}

// Hero Section -------------->

.hero-image {
  max-height: 528px;
  filter: drop-shadow(0 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: variables.$border-radius;
}

// Main Header ---------------->

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 10px;
  grid-template-areas:
    "logo button"
    "menu menu";

  &__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__nav {
    grid-area: menu;
    @include config.flex-justify(center);

    // nav ul and a
    & ul {
      list-style-type: none;
      display: flex;
      gap: variables.$Font-size-base;
      font-weight: 600;
      padding: 0;

      & a {
        @include config.hide-underscore;

        &.active {
          color: variables.$gray;
        }
      }
    }
  }
  // button behavior
  &__button {
    grid-area: button;
    @include config.flex-justify(end);

    & button {
      @include config.flex-align(center);
      gap: 0.3rem;
      border: 0;
      padding: 6px 12px;
      background: none;
      border-radius: variables.$border-radius;
      border: 2px solid transparent;
      font-size: variables.$Font-size-base;
      font-weight: 600;
      color: variables.$black;

      &:hover {
        border: 2px solid variables.$black;
        transition: 1s;
      }
    }
  }
}

// Header @media queries ----->

@include config.respond-to(tablet) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu button";
  }
}

// Author - Homepage ---------->

.author {
  padding: 10px 0;
  text-align: center;

  &__heading {
    margin-top: 10px;
    margin-bottom: 5px;
    @include config.flex-justify(center);
    gap: 1rem;
  }

  &__body {
    font-size: variables.$Font-size-mid;
    margin: 5px 0 40px 0;
    color: variables.$gray;
  }
}

// Home Article List ------------>

.articles__heading {
  margin-top: 4rem;
  font-weight: 700;
}
.article-ul {
  list-style-type: none;
  @include config.padding-margin-zero;
  font-size: variables.$Article-font-size;
  @include config.flex-direction(column);

  & li a {
    @include config.flex-direction(column);
    justify-content: space-between;
    text-decoration: 0;
    margin: 18px 0;
  }
}

.pagination {
  font-size: 1.3rem;
  color: variables.$gray;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;

  &:hover {
    color: variables.$black;
  }
}

.article-list__date {
  font-size: variables.$Font-size-base;
  color: variables.$gray;
  width: 260px;
  display: inline-block;
}

// Article Media Queries
@include config.respond-to(tablet) {
  .article-ul li a {
    @include config.flex-direction(row);
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

// Unordered list behavior
.article-ul {
  & li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
    border-bottom: 1px solid variables.$gray;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      filter: none;
    }
  }

  &:hover li {
    filter: blur(3px);

    &:hover {
      filter: none;
    }
  }
}

.article {
  white-space: pre-wrap;
}

// Footer ------------------------>

.footer {
  margin: 4rem;
  text-align: center;
}

// SEARCH BAR ------------------------------------------>

.searchBar {
  // visibility: hidden;
  // transform: translateY(-100px);
  background-color: variables.$black;
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;

  &.open {
    transform: translateY(0);
    transition: transform 0.1s;
  }

  & input {
    margin: 0;
    padding: 0;
  }
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: variables.$light-gray;
  padding: 15px;
}

// Dashboard Admin ---------->

.admin-title {
  @include config.flex-justify(space-between);
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;

  & li {
    @include config.flex-justify(space-between);
    padding: 10px 0;
  }
}

.admin-post-controls form {
  display: inline-block;

  & .btn {
    display: inline-block;
    background-color: variables.$black;
    color: variables.$light-gray;
    border: 0;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 4px 8px;
    line-height: 2;
  }
}
